<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DeliverooAutomationTask">
	<test name="DeliverooForWorkTests">
		<classes>
			<class name="TestCases.DeliverooForWorkTestCases" />
		</classes>
	</test>
	<test name="DeliverooResturantTest">
		<classes>
			<class name="TestCases.DeliverooResturantTestCases" />
		</classes>
	</test>
</suite>
